<div class="navbar-fixed">
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo black-text">Rally Newz</a>
      <ul class="right hide-on-med-and-down">
        <li class="black"><a href="#">Blog</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a  href="#">Blog</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
  </div>
  <div class="parallax"><%= image_tag("rallylogo.png") %></div>
</div>

<div class="container">
  <div class="section">
    <div class="center">
      <h3> About </h4>
    </div>
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <p class="light">
            Politics in this day and age has become an information black hole, it seems almost
            impossible for an individual voice to be heard to make a change.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <p class="light">
            Do you ever feel like you would be much more involved politically, but you just really don’t know how? After
            countless cups of coffee and hours of sifting through political information Rally Newz
            was born.
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <p class="light">
          We have come up with a platform that makes everyday politics a breeze,
          from Rally and Protest information, toCandidate and Issue information,
          Rally Newz gives you the most up to date political information to keep you informed on the go.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="container">
      <div class="center">
        <a class="waves-effect waves-light white black-text btn-large center blog-button">Blog</a>
      </div>
    </div>
  <div class="parallax"><%= image_tag("black.png") %></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <h1 class="center">Screen Shots</h1>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="valign center embed-container">
      <%= embed("https://www.youtube.com/watch?v=eiWIOKKuyGE") %>
    </div>
  <div class="parallax"><%= image_tag("rallylogo.png")%></div>
</div>

<footer class="page-footer black">
  <div class="container">
    <div class="row">
      <div class="center">
        <h5 class="white-text">Contact Us</h5>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Website by <a class="brown-text text-lighten-3" href="http://materializecss.com">Some Dude</a>
    </div>
  </div>
</footer>
